.App {
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 100vh;
}

.App-link {
    color: #61dafb;
}

.u-margin-top--none {
    margin-top: 0;
}

.u-margin-bottom--none {
    margin-bottom: 0;
}

.u-margin-bottom {
    margin-bottom: 10px;
}

.u-margin-bottom--large {
    margin-bottom: 20px;
}

.u-margin-bottom--huge {
    margin-bottom: 40px;
}